body, p, h1, h2, h3, h4, h5 {
	margin: 0;
}

body {
	font-size: 16pt;
	background-color: #2d2d2d;
	font-family: "Ubuntu", sans-serif;
}

.container {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 840px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 1px #111;
	padding: 20px;
	background-color: #fff;
}

.link {
	list-style: none;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
}

a, a:visited {
  text-decoration: none;
  color: #e65100;
  transition: color 0.2s;
}

a:hover {
  color: #f57c00;
}
