@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html {
  color: #1d1d1d;
  background-color: #DDD;
  font-size: 16pt;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em;
}

pre, code {
  background-color: #2d2d2d;
  line-height: 1.2em;
  color: #fff;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 2px;
}

code {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word; 
  font-size: 70%;  
}

code {
  display: inline-block;
}


blockquote {
  color: #777;
  border: solid 0px #777;
  padding-left: 12px;
  border-left-width: 5px;
  font-size: 14pt;
}

p {
  margin: 8px;
}

a, a:visited {
  text-decoration: none;
  color: #e65100;
  transition: color 0.2s;
}

a:hover {
  color: #f57c00;
}

body {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
}
